<div class="container">
  <div class="box">
    <h1>Currency Converter</h1>
    <div class="left-box">
      <select #c1 name="" id="country1"(change)="changeBase(c1.value)">
        <option value="UAH">Ukrainian hryvna</option>
        <option value="USD">American dollar</option>
        <option value="EUR">Euro</option>
      </select>
      <form [formGroup]="form1">
      <input formControlName="count1" type="number" name="" id="input">
      </form>
    </div>
    <div class="right-box">
      <select #c2 name="" id="country2" (change)="toCountry(c2.value)">
        <option value="UAH">Ukrainian hryvna</option>
        <option value="USD">American dollar</option>
        <option value="EUR">Euro</option>
      </select>
      <form [formGroup]="form2" >
      <input formControlName = 'count2' type="number" name="" id="result">
      </form>
    </div>
    <button class="btn" id="btn" (click)="convert()">Convert</button>


  </div>
</div>
